.order-item {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  background-color: #fff;
  }
  
  .order-img-container {
    flex: 1;
    margin-right: 1rem;
  }
  
  .order-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .remove-icon {
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    outline: none;
    margin: 0;
    text-align: start;
    width: fit-content;
  }

  .remove-icon:hover {
    color: red;
    background-color: white;
  }
  
  .order-details {
    flex: 2;
  }
  
  .order-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: word-break;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    color: #2874f0;
  }
  
  .product-review {
    margin-top: 0.5rem;
  }
  
  .order-quantity {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .quantity-min , .quantity-plus {
    cursor: pointer;
  }
  
  .order-display-price {
    margin-top: 1rem;
  }
  
  .order-total-price {
    font-weight: bold;
  }
  